@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.dropzone {
  @include flex-column;
  justify-content: center;
  border: 0.125rem dashed $green;
  border-radius: $radius-xs;
  width: 100%;
  max-width: 50rem;
  height: 10rem;
  padding: $spacing-lg;
  text-align: center;
  color: $color-font-secondary;

  @include tablet {
    height: 15rem;
  }

  @include desktop {
    height: 20rem;
  }
}
