@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.dropzone {
  border: 0.125rem dashed grey;
  padding: $spacing-lg;
  text-align: center;
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: blue;
  }
}
