@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.logs {
  @include flex-column;
  padding: $spacing-lg 0;
  gap: $spacing-md;
  @include margin-x;

  &__list {
    display: grid;
  }

  &__cards {
    @include flex-column;
    padding: $spacing-xs;
    border: 0.0625rem solid $color-border;
    border-radius: $radius-sm;
    gap: $spacing-xs;

    img {
      width: 100%;
      border-radius: $radius-sm;
    }

    h3 {
      padding: 0 $spacing-xs;
    }
  }
}
