@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.logs {
  @include flex-column;
  padding: $spacing-lg 0;
  gap: $spacing-md;
  @include margin-x;

  &__list {
    @include flex-column;
    gap: $spacing-sm;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
  }

  &__cards {
    @include flex-column;
    padding: $spacing-xs;
    border: 0.0625rem solid $color-border;
    border-radius: $radius-xs;
    gap: $spacing-xs;

    img {
      aspect-ratio: 1/1;
      width: 100%;
      border-radius: $radius-sm;
      object-fit: cover;
    }

    p {
      padding: 0 $spacing-xs;
    }
  }
}
