@use "./variables" as *;

// Breakpoints
@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Margins
@mixin margin-x {
  max-width: 80rem;
  margin: 0;

  @include mobile {
    margin: 0 $spacing-sm;
  }

  @include tablet {
    margin: 0 $spacing-md;
  }

  @include desktop {
    margin: 0 auto;
  }
}

// Flex
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
