@use "./variables" as *;
@use "./mixins" as *;

// Primary font - DM Sans
@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/dm-sans-v15-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/dm-sans-v15-latin-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/dm-sans-v15-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/dm-sans-v15-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/dm-sans-v15-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// Display font - DM Serif Display
@font-face {
  font-family: "DM Serif Display";
  src: url("/src/assets/fonts/dm-serif-display-v15-latin-regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("/src/assets/fonts/dm-serif-display-v15-latin-italic.woff2");
  font-weight: 400;
  font-style: italic;
}

// Body
body {
  font-family: $font-primary;
  font-weight: 400;
}

// Headings
h1 {
  font-family: $font-display;
  font-weight: 400;

  @include mobile {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include tablet {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

h2 {
  font-family: $font-primary;
  font-weight: 400;

  @include mobile {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  @include tablet {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h3 {
  font-family: $font-primary;
  font-weight: 400;

  @include mobile {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h4 {
  font-family: $font-primary;
  font-weight: 400;

  @include mobile {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h5 {
  font-family: $font-primary;
  font-weight: 500;
  text-transform: uppercase;

  @include mobile {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @include tablet {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

// Body

p {
  font-family: $font-primary;
  font-weight: 400;

  @include mobile {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  @include tablet {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.small-text {
  font-family: $font-primary;
  font-weight: 400;
  text-transform: uppercase;

  @include mobile {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @include tablet {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
