// Breakpoints
$mobile-breakpoint: 20rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// Typography
$font-primary: "DM Sans", sans-serif;
$font-display: "DM Serif Display", serif;

// Colours
$color-bg: #fcfcfc;

$color-font-primary: #030712;
$color-font-secondary: #364153;
$color-font-alternate: #fcfcfc;

$color-button-primary-bg: #030712;
$color-button-secondary-bg: #f3f4f6;

$color-border: #e5e7eb;
$color-divider: #e5e7eb;

// Additional colours
$light-blue: #00a6f4;
$green: #009966;
$orange: #ff8904;
$yellow: #ffb900;
$lime: #9ae600;
$purple: #7f22fe;
$fuchsia: #f6339a;
$dark-blue: #193cb8;

// Spacing
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 2.5rem;
$spacing-2xl: 3rem;
$spacing-3xl: 3.5rem;
$spacing-4xl: 4rem;
$spacing-5xl: 4.5rem;

// Radius
$radius-xs: 0.25rem;
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-pill: 62.4375rem;
