// Breakpoints
$mobile-breakpoint: 20rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// Typography
$font-primary: "DM Sans", sans-serif;
$font-display: "DM Serif Display", serif;

// Colours
$bg-color: #f8f8f8;

// Spacing
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 2.5rem;
$spacing-2xl: 3rem;
$spacing-3xl: 3.5rem;
$spacing-4xl: 4rem;
$spacing-5xl: 4.5rem;
