@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.hero {
  @include flex-column;
  align-items: center;
  padding: $spacing-xl $spacing-sm;
  gap: $spacing-md;
  @include margin-x;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}
