@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
}

.logo-text {
  font-family: $font-display;
  font-size: 2rem;
}

.button {
  &--primary {
    border: none;
    outline: none;
    padding: $spacing-sm $spacing-md;
    border-radius: $radius-pill;
    background-color: $color-button-primary-bg;
    font-family: $font-primary;
    font-size: 0.875rem;
    color: $color-font-alternate;
    font-weight: 600;
  }

  &--secondary {
    border: none;
    outline: none;
    padding: $spacing-sm $spacing-md;
    border-radius: $radius-pill;
    background-color: $color-button-secondary-bg;
    font-family: $font-primary;
    font-size: 0.875rem;
    color: $color-font-primary;
    font-weight: 600;
  }

  &--icon {
    @include flex-row;
    border: none;
    outline: none;
    padding: $spacing-sm $spacing-md;
    border-radius: $radius-pill;
    background-color: $color-button-primary-bg;
    font-family: $font-primary;
    font-size: 0.875rem;
    color: $color-font-alternate;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: $spacing-xxs;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.link {
  font-family: $font-primary;
  font-size: 0.875rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}
