@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-bg;
}

.button {
  &--primary {
    border: none;
    outline: none;
    border-radius: $radius-pill;
    padding: $spacing-sm $spacing-md;
    background-color: $color-button-bg;
    color: $color-font-alternate;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
