@forward "./partials/mixins";
@forward "./partials/typography";
@forward "./partials/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

button {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}
