@use "../../styles/global.scss" as *;

.image-marker {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.125rem solid $color-border;
  background-size: cover;
  background-position: center;
}
