@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  @include flex-row;
  padding: $spacing-sm 0;
  align-items: center;
  gap: $spacing-xs;
  border-bottom: 0.0625rem solid $color-divider;
  @include margin-x;

  &__logo {
    width: 1.5rem;
    height: 1.5rem;

    @include tablet {
      width: 2rem;
      height: 2rem;
    }
  }
}
