@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
.footer {
  @include flex-column;
  padding: $spacing-xl 0;
  gap: 2rem;
  border-top: 0.0625rem solid $color-divider;
  @include margin-x;

  &__logo-wrapper {
    @include flex-row;
    gap: $spacing-xs;
  }

  &__info-wrapper {
    @include flex-column;
    gap: $spacing-sm;
  }
}
