@use "../../styles/global.scss" as *;

.edit-log {
  @include flex-column;
  gap: $spacing-md;
  @include margin;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-sm;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;

  @include tablet {
    max-width: 18.75rem;
  }
}
