@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global.scss" as *;

.edit-log {
  @include flex-column;
  padding: $spacing-lg 0;
  gap: $spacing-md;
  @include margin-x;

  &__buttons {
    @include flex-row;
    gap: 0.5rem;

    button {
      width: 100%;
    }
  }
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-sm;

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;

    @include tablet {
      max-width: 18.75rem;
    }
  }
}
