@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.edit-log {
  @include flex-column;
  gap: $spacing-md;
  @include margin;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-sm;

  img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;

    @include tablet {
      max-width: 18.75rem;
    }
  }
}
